/* BASIC WEBSITE LAYOUT */
html, body{
    /* Reset Styles */
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    
    background-color: #246d85;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%231f5d71' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");

    /* Credit to https://www.svgbackgrounds.com/ */
}

body{
    /* Center the body inside the html */
    width: 100%;
    margin: 0 auto;
}

/* Typography */

h1, h1, h3, h4, h5, h6{
    /* Default header styles */
    font-family: 'Helvetica', cursive;
    color: black;
}

p, input, li{
    /* Default text styles */
    font-family: 'Open Sans Condensed', sans-serif;
}

h1{
    font-size: 4rem;
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 10px 10px black;
}

h3{
    text-align: center;
    font-size: 2.5rem;
}

h4{
    font-size: 1.8rem;
}

p, li{
    font-size: 1.4rem;
    line-height: 1.5;
}

/* Header layout */

nav, article, aside, footer{
    background-color: whitesmoke;
    padding: 1%;
}

nav{
    height: 40px;
    background-color: rgb(219, 230, 230);
    display: flex;
    margin-bottom: 10px;
    text-shadow: 2px 10px 10px black;
    box-shadow: 0 8px 30px -10px black;
    animation-name: nav;
    animation-duration: 4s;
}

nav ul{
    padding: 0;
    list-style: none;
    flex: 2;
    display: flex;
    margin: 0;

}

nav li{
    /* Centered the list items */
    display: inline;
    text-align: center;
    flex: 1;
}

nav a{
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

nav form{
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%;
    padding: 0 2em;

}

input{
    font-size: 1.6rem;
    height: 26px;
}
input[type="search"]{
    flex: 3;
}
input[type="submit"]{
    flex: 1;
    margin-left: 1rem;
    background: #333;
    border: 0;
    color: white;
}

/* main layout */

main{
    display: flex;
}

article{
    width: 80%;
    margin: 0 auto;
    border: black solid 3px;
    box-shadow: 0 8px 30px -10px black;
}

footer{
    height: 10%;
    margin-top: 200px;
}

div{
    position: relative;
    left: 30px;
    bottom: 35px;
  }

@keyframes nav {
    from {background-color: rgb(40, 109, 155);}
    to {background-color: rgb(219, 230, 230);}
}

a:hover{
    color: whitesmoke;
}